{% extends "base.html" %}

{% block main %}

<div id="prompt">
	<h1 id="greet">Hey, what's up?</h1>
	<h2 id="instruction">We couldn't find anything to show you, not even a single {{ info }}.<br/>Maybe if you tell us something new, we'll find something to tell you!</h2>
	<form action="/submit/" method="post" name="something_new"> {% csrf_token %}
		<input type="text" name="item" id="item" placeholder="Put your new data here">
		<p>
		<button type="reset" id="home-button">Clear</button>
		<button type="submit" id="home-button">Tell us!</button>
		</p>
	</form>
</div>

{% endblock %}
