#prompt {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#greet {
	text-align: left;
}
#instruction {
	position: relative;
	left: 5%;
}
#item {
	position: relative;
	left: 10%;
	border-radius: 5px;
	height: 40px;
	width: 70%;
}
#item-button {
	width: 5%;
	border-radius: 5px;
	height: 40px;
}
