#prompt {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#greet {
	text-align: left;
}
#instruction {
	position: relative;
}
#item {
	left: 10%;
	border: 1px solid #DDD;
	border-radius: 5px;
	height: 40px;
	width: 100%;
	padding: 15px;
}
#home-button {
	width: 10%;
	border: none;
	border-radius: 5px;
	height: 25px;
}
